@using System.Security.Claims
@using Web3_Beadando.Services

<h2 class="text-center">All users</h2>
<table class="table">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            SchoolService schoolService = new();
            foreach (var user in schoolService.applicationUsers)
            {
                if (user.Id != User.FindFirstValue(ClaimTypes.NameIdentifier).Trim())
                {
                    <tr>
                        <td>@user.FullName</td>
                    <td>@user.Email</td>
                    <td>@user.Role</td>
                    <td>
                        <form method="post" asp-action="DeleteUser" asp-route-id="@user.Id" onclick="return confirm('Are you sure you want to delete user: @user.FullName ?')">
                            <button type="submit" class="btn btn-primary">Delete</button>
                        </form>
                    </td>
                </tr>
                }
            }
        }
    </tbody>
</table>
