@page
@using Microsoft.EntityFrameworkCore
@using Web3_Beadando.Areas.Identity.Data
@using Web3_Beadando.Services
@model SchoolService

@{
    //ViewData["Title"] = "New Subject";
}

<h1>New Subject</h1>
@*
<!--@using(Html.BeginForm("NewSubject", "Admin", FormMethod.Post))
{
        <div class="form-group">
            <label for="subjectName">Subject name:</label>
            @Html.TextBoxFor(x => x.Name, new {@class="form-control", placeholder="Subject"})
        </div>

             <div class="form-group">
                <label for="subjectName">Teacher name:</label>
            @Html.TextBoxFor(x => x.Teacher.FullName, new { @class = "form-control", placeholder = "Teacher"})
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
}

*@
<form method="post" asp-action="NewSubject" asp-controller="Admin">
    <div class="form-group">
        <label for="subjectName">Subject Name:</label>
        <input type="text" class="form-control" id="subjectName" name="SubjectName" required>
    </div>

    <div class="form-group">
        <label for="instructorName">Teacher Name:</label>
        
        <select class="form-control" id="teacherSelect" name="TeacherId" required>
            @{
                SchoolService schoolService = new();
                var teachers = schoolService.teachers;

            if(teachers == null)
            {
                    <option>No teachers available</option>
            }else{
                    foreach (var teacher in teachers)
                    {
                        <option value="@teacher.Id">@teacher.FullName</option>
                    }
            }

            
         }
</select>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>

</form> 
    

<div>
    <!-- display all subjects in a table here-->
<table class="table">
        <thead>
            <tr>
                <th scope="col">Teacher</th>
                <th scope="col">Subject</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                SchoolService schoolService2 = new();
                var subjects = schoolService2.subjects;
                foreach (var subject in subjects)
                {
                    <tr>
                        <td>@schoolService2.GetUserById(subject.TeacherId).FullName</td>
                        <td>@subject.Name</td>
                        <td>
                            <!-- <form asp-action="EditSubject" method="post" asp-route-id="@subject.Id">
                                <button type="submit" class="btn btn-primary">Edit</button>
                            </form>
                            <br />-->
                            <form asp-action="DeleteSubject" method="post" asp-route-id="@subject.Id" onclick="return confirm('Are you sure you want to delete subject: @subject.Name ?')">
                                <button type="submit" class="btn btn-primary">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
</div>
