@page
@using Web3_Beadando.Services 
@model SchoolService
@{
   // ViewData["Title"] = "Home";
}



@{
    if (User.IsInRole("Student"))
    {
        <div class="text-center">
            <h1>Home Page - Student</h1>
            <br />

            <a class="btn btn-primary" href="@Url.Action("Timetable", "Home", new { area = "" })">Timetable</a>

            <a class="btn btn-primary" href="@Url.Action("Assignments", "Home", new { area = "" })">Assignments</a>

            <a class="btn btn-primary" href="@Url.Action("Stats", "Home", new { area = "" })">Check assignment stats</a>

            <a class="btn btn-primary" href="@Url.Action("Export", "Home", new { area = "" })">Export timetable</a>

        </div>
    }

    else if(User.IsInRole("Teacher"))
    {
        <div class="text-center">

            <h1>Home Page - Teacher</h1>
            <br />

            <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Create a new user</a>

            <a class="btn btn-primary" href="@Url.Action("NewSubject", "Admin", new { area = "" })">Add New Subject</a>

            <a class="btn btn-primary" href="@Url.Action("NewClassroom", "Admin", new { area = "" })">Add New Classroom</a>

            <a class="btn btn-primary" href="@Url.Action("NewClass", "Admin", new { area = "" })">Add new class</a>

            <a class="btn btn-primary" href="@Url.Action("Assignments", "Admin", new { area = "" })">Add new assignment</a>

            <a class="btn btn-primary" href="@Url.Action("NewCategory", "Admin", new { area = "" })">Add new category</a>
        </div>

        <br />
<br />
        <div class="text-center">
            <h2>Student tools</h2>
            <br />

            <a class="btn btn-primary" href="@Url.Action("Timetable", "Home", new { area = "" })">Timetable</a>

            <a class="btn btn-primary" href="@Url.Action("Assignments", "Home", new { area = "" })">Assignments</a>

            <a class="btn btn-primary" href="@Url.Action("Stats", "Home", new { area = "" })">Check assignment stats</a>

            <a class="btn btn-primary" href="@Url.Action("Export", "Home", new { area = "" })">Export timetable</a>

        </div>
    }
}
